/* Navbar */
a.navbar-brand {
  padding: 0.3rem;
}

.navbar-brand {
  width: 100%;
  outline: none;
}

span#title {
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

i.far.fa-chart-bar {
  font-size: 1.2rem;
}

@media (min-width: 480px) {
  span#title, i.far.fa-chart-bar {
    font-size: 1.8rem;
  }  
}

#light-switch-container {
  float: right;
}

.light-switch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* General */
.charts-container {
  padding: 0.2rem;
}

.chart-dialog-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-theme {
  background-color: dimgrey;
  color: white;
}

.chart-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.chart-button {
  width: 30px;
  margin-left: 8px;
  opacity: 0.62;
}

.chart-button:hover {
  opacity: 1;
}

.chart-button-disabled {
  width: 30px;
  margin-left: 8px;
  opacity: 0.3;
}

.add-chart {
  opacity: 0.75;
}

.add-chart:hover {
  opacity: 1;
}

/* Modal formatting */

.dialog-select-group {
  width: 160px;
}

.modal-content button.close {
  width: 30px;
  padding: 0px 0px 2px;
}

.form-group {
  padding: 1rem;
}

.fa-link {
  opacity: 0.75;
}

/* Chart container responsive formatting */
.col {
  display: block;
  float: left;
  text-align: center;
  margin: 0.2rem;
  height: 405px;
}

.span_1_of_2,
.span_2_of_2 {
  position: relative;
  width: calc(50% - 20px);
  padding: 0.2rem;
  margin: 0.5rem;
  border-radius: 0rem;
  box-shadow: 0 0 1.5rem rgba(56, 56, 56, 0.856);
}

@media only screen and (max-width: 1000px) {
  .span_1_of_2,
  .span_2_of_2 {
    width: calc(100% - 20px);
  }
}

.loading-spinner {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

#popover-trigger-hover-focus {
  padding: 6px;
}
